{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trendy Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="agileits-main">
	<div class="w3top-nav">

	<!--			<div class="w3top-nav-right">
					<ul>

						<li><a href="#">About</a></li>

					</ul>
				</div>	                 -->
				<div class="clear"></div>
			</div>
        <div><h3>Welcome</h3></div>

	   <div class="header-main">
                <h2> Upload</h2>
           <div class="upload">
			<div class="header-bottom">
				<div class="header-right w3agile">
					<div class="header-left-bottom agileinfo">
						<form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <input type="file" name="document">
                            <button type="submit" name="resume">Upload Resume</button>

					</form>
					</div>
                    <div>

                    {% if url %}
                        <p>Download resume:<a href="{{ url }}">{{ url }}</a> </p>

                            </div>

                    {% endif %}


				</div>
			</div>
	</div>

	</div>
	<!-- //main -->
	<!-- copyright -->

	<!-- //copyright -->
</body>
</html>